.back_top,.bg-gradient,.home-bg,.btn-gradient,.features_border,.in_features,.bg-features{
    background: #443bba;
    background: -webkit-linear-gradient(to right, #33ba9c, #443bba);
    background: linear-gradient(to right, #33ba9c, #443bba);
}

.section_title_icon,
.btn-gradient:hover,
.btn-gradient:focus,
.btn-gradient:active,
.btn-gradient.active,
.btn-gradient.focus,
.btn-gradient:active,
.btn-gradient:focus,
.btn-gradient:hover,
.open>.dropdown-toggle.btn-gradient,
.features_one .features_list .features_list_icon i,
.work_icon i,.work_process .work_box .work_left::after,
.work_process .work_box .work_right::after,
.about_boxes .about_icon i,
.features_one .features_icon {
    background: #33ba9c;
    background: -webkit-linear-gradient(to right, #443bba, #33ba9c);
    background: linear-gradient(to right, #443bba, #33ba9c);
}
